#navHeader{
padding: .5rem 4rem !important;
background-color: #fff8ee !important;
}

a.page-name{
    font-size: 1.2rem;
}
a.page-name > i{    
    color: #fdd502 !important;
    font-size: 1.7rem;
}

button.btnBeauty{
    color: #ff9f6c !important;
    border-color:    #ff9f6c !important;
}
button.btnBeauty:hover {
    color: #fff !important;
    background-color:#ff9f6c !important;
    border-color:    #ff9f6c !important;
}
section.banner-section{
    background-image: url("https://bnsec.bluenile.com/bluenile/is/image/bluenile/JEW_032019_SHOT16_Bracelet_Stack_72789_72028_71548_72224V2_CROP_WHITE_v2?&rgn=2450,560,1500,1301&hei=400&wid=1440");
    height: 55vh;    
    background-position: center;
    background-size: cover;
}
.banner{
    height: 55vh; 
    padding-left: 7%
}
h2.text-banner{  
    max-width: 40% !important;
}
h3.titleNovedades{
    color:#d19e66 !important;
}
div.card.border-dark{
    overflow: hidden;
}
.imgSource{
    width: 80% !important;
    margin: auto !important;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);    
    vertical-align: middle;
    max-width: 95%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
img.imgSource:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.footer-contain{
    background:linear-gradient(to bottom,  
    rgb(255,255,255),
    rgb(255,248,238),
    rgb(250, 235, 214));
}